---
import { ErrorLogger } from "@/components/ErrorLogger";
import Navbar from "@/components/Navbar.astro";
import { cn } from "@/lib/utils";
import "@/styles/global.css";

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en" class="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{title}</title>
    {description && <meta name="description" content={description} />}
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <script is:inline>
      (() => {
        try {
          const stored = localStorage.getItem("theme");
          const dark = stored ? stored === "dark" : true;
          document.documentElement.classList.toggle("dark", dark);
        } catch {}
      })();
    </script>
  </head>
  <body
    class={cn(
      "group/body overscroll-none antialiased [--footer-height:calc(var(--spacing)*14)] [--header-height:calc(var(--spacing)*14)] xl:[--footer-height:calc(var(--spacing)*24)]",
    )}
  >
    <div class="bg-background relative z-10 flex min-h-svh flex-col">
      <Navbar />
      <main class="flex flex-1 flex-col">
        <slot />
      </main>
      <ErrorLogger client:load />
    </div>
  </body>
</html>
